body {
    background-color: #f4f4f4;
    font-family: Arial;
}

section {
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    max-width : 1000px;
}

.hero {
    background-color: #222;
    color: white;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    color: wheat;
    font-size: 36px;
}

h2 {
    color: #444;
    font-size: 24px;
}

a img {
    margin-top: 10px;
}

a img:hover {
    opacity: 0.7;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skill-list span {
    background-color: #eee;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid grey;
    color: grey;
}
.project-card:hover{
    border-color: #bbb;
    background-color: #f4f4f4;
}
.project-card {
    border: 2px solid #ddd;
    border-radius: 18px;
    padding: 20px;
    margin-top: 20px;
    flex: 1;
    max-width: 280px;
    min-width: 220px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}
.project-card h3 {
    margin-bottom: 8px;
    font-size: 18px;
}
.project-card p {
    margin-bottom: 12px;
    color: #444;
    font-size: 14px;
}
.project-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.tech-used {
    font-size: 14px;
    color: blue;
    background-color: rgb(180, 180, 253);
    padding: 4px 8px;
    border-radius: 15px;
    border: 1px solid blue; 
}
.project-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
    height: 150px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .project-card img {
        width: 100%;
        height: 120px;
    }
}

.contact-links {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.contact-links a img {
    border-radius: 10px;
}

.contact-links a:hover {
    opacity: 1;
}
.footer {
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 14px;
}

