body {
    background-color: #f4f4f4;
    font-family: Arial;
}

div {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
}

h2 {
    color: #444;
}